<h1> WELCOME TO THE AFX AUDITION MANAGER! </h1><br>
<p> <%= link_to 'Are you auditioning? Register here!', new_auditionee_path %> </p></br>

<%= link_to 'Are you a director? Log in here!', new_session_path %>


